<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>A03 Dasari</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="/guestbook.css">
</head>
<h3>
<body class="container">
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">Swathi</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="student.html">Perimeter of Rectangle</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="guestbook">GuestBook</a></li>
                  </ul>
                </div>
              </nav>
            </h3>
<h1>
Swathi's Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</body>