.body{
	background-image:url("swathi.jpg");
	<img class="img-circle" src="dasari.jpg">;
	height: 200px;
    width: 50%;
	background-color:#b6ebf2;
	text-align:center;
	font-family:"Arial Black",Times New Roman;
	margin-left:auto;
	margin-right:auto;
	max-width:700px;
}
#maindiv{
	background-color:#51aeff;
	margin-left:auto;
	margin-right:auto;
	max-width:700px;
	border-style:dotted;
	text-decoration:underline;
}
.Aboutme{
	background-color:#F0FFFF;
	<img class="img-circle" src="dasari.jpg">;
	font-family:"Times New Roman",Arial Black;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	max-width:700px;
	border-style:dotted;
}
#background{
	margin-left:auto;
	margin-right:auto;
	max-width:700px;	
}
#plans{
	margin-left:auto;
	margin-right:auto;
	max-width:700px;
}
#interests{
	margin-left:auto;
	margin-right:auto;
	max-width:700px;
}

	
	
	