.jumbotron{
    background-image:url("flower2.jpeg");  
}

/* ul {
	background-image:url("swathi.jpeg");
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    
    float: left;
}

li a { 
    
    width:150px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    
    background-color: #111;
} */