
body{
background-image: url("rec.jpg");
background-position: center;
background-attachment: fixed;
background-size: cover;

}
section{
	text-align: center;
	 color:blue;
}


.container{
	text-align: center;
	color:blue;
	
}
.container1{
	text-align: center;
	color:blue;
}
.container2{
	text-align: center;
	color:blue;
}

#perimeter{
	font-size: 30px;
	color: red;
	text-align: center;
}


	

